* {
    vertical-align: middle;
}

.optionForm {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.filterProperty {
    width: 90%;
    float: left;
    font-size: 24px;
}

.iconAdd {
    float: right;
    width: 10%;
    font-size: 40px;
    cursor: pointer;
}